In [1]:
import pandas as pd
import json
import os

In [2]:
path = "D:\\phonepe_project\\pulse\\data\\top\\user\\country\\india\\state"
path_a = os.listdir(path)

In [5]:
std6 = {'state':[], 'year':[],'quater':[],'pincode':[], 'registered_users':[]}

for i in path_a:
    path_yr = path+"\\"+i+"\\"
    year = os.listdir(path_yr)

    for j in year:
        path_file = path_yr + j
        path_n = os.listdir(path_file)

        for k in path_n:
            asd = path_file + "\\" + k
            data_n = open(asd, "r")
            output = json.load(data_n)

            for l in output['data']['pincodes']:
                pincode = l['name']
                users = l['registeredUsers']
                std6['pincode'].append(pincode)
                std6['registered_users'].append(users)
                std6['state'].append(i)
                std6['year'].append(j)
                std6['quater'].append(int(k.strip('.json')))

df6 = pd.DataFrame(std6)

In [6]:
df6

                          state  year  quater pincode  registered_users
0     andaman-&-nicobar-islands  2018       1  744103              1608
1     andaman-&-nicobar-islands  2018       1  744101              1108
2     andaman-&-nicobar-islands  2018       1  744105              1075
3     andaman-&-nicobar-islands  2018       1  744102              1006
4     andaman-&-nicobar-islands  2018       1  744104               272
...                         ...   ...     ...     ...               ...
8206                west-bengal  2023       3  700015            122316
8207                west-bengal  2023       3  742304            119245
8208                west-bengal  2023       3  721101            118798
8209                west-bengal  2023       3  700150            114987
8210                west-bengal  2023       3  734006            113991

[8211 rows x 5 columns]

In [7]:
df6.to_csv(r'D:\phonepe_project\top_user.csv')

In [8]:
import psycopg2

mydb = psycopg2.connect(
    host = "localhost",
    database = "postgres",
    user = "postgres",
    password = "123456")

mycursor = mydb.cursor()

In [10]:
query6 = """
            CREATE TABLE IF NOT EXISTS top_user(
                state VARCHAR(255),
                year VARCHAR(4),
                quater INT, 
                pincode VARCHAR(255), 
                registered_users INT
                )

            """ 

try:
    mycursor.execute(query6)
    mydb.commit()
    print("Tables created successfully.")
except Exception as e:
    print("Error:", e)
    mydb.rollback()

Tables created successfully.

In [11]:
import pandas as pd
from sqlalchemy import create_engine

# PostgreSQL database connection parameters
db_config = {
    'user': 'postgres',
    'password': '123456',
    'host': 'localhost',
    'port': '5432',
    'database': 'postgres',
}

# Create a SQLAlchemy engine
engine = create_engine(f'postgresql+psycopg2://{db_config["user"]}:{db_config["password"]}@{db_config["host"]}:{db_config["port"]}/{db_config["database"]}')

# CSV file path
csv_file_path = 'D:\\phonepe_project\\top_user.csv'

# Read CSV file into a pandas DataFrame
df = pd.read_csv(csv_file_path)

# Insert data into PostgreSQL table
try:
    df.to_sql('top_user', con=engine, if_exists='replace', index=True)
    print("Data inserted successfully.")
except Exception as e:
    print("Error:", e)
finally:
    engine.dispose()  # Close the database connection

Data inserted successfully.